body{
    background-color: black;
    color: white;
    font-family:sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.fetch{
    width: 380px;
    height: 58px;
    font-size: 24px;
}
.container h1{
    font-size: 72px;
    font-weight: 400;
    font-stretch: expanded;
}
#weather-data{
    background-color: white;
    color:black;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content:center;
    margin: 20px 50px 30px 50px ;
    padding-left: 20PX;
    height: 300px;
}

#map{
 margin: 50px 0;   
}

#latlong{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 500px;
    height: 25px;
}